<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @task.job %>
</p>

<p>
  <strong>Task title:</strong>
  <%= @task.task_title %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @task.due_date %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
